/*Global Styles*/
body {
    /*Text*/
    font-family: Arial, sans-serif;
}

/*Icon For Nav Bar*/
.trident img {
    height: 40px;
    width: 40px;
    margin-bottom: 3px;
    object-fit: contain;
    vertical-align: middle;
}

/*Event Popup*/
.event-page-bg {
    /*Coloring*/
    background: #29629e;

    /*Spacing*/
    padding: 2rem;

    /*Layout*/
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Individual Card*/
.event-card-layout {
    /*Coloring*/
    background: #dedede;

    /*Layout*/
    width: 900px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.event-title {
    /*Text*/
    font-size: 2rem;

    /*Coloring*/
    background: #b3abb0;
    color: white;

    /*Spacing*/
    padding: 0.2em 1em;

    /*Layout*/
    position: absolute;
    left: 170px;
    top: 45px;
    z-index: 2;

    border-radius: 2px;
}

.event-flyer {
    /*Coloring*/
    background: #9d7e7e;

    /*Layout*/
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.event-flyer span {
    /*Text*/
    font-size: 2rem;

    /*Coloring*/
    color: white;
}

.event-dislike {
    /*Text*/
    font-size: 1.5rem;

    /*Coloring*/
    background: #d32f2f;
    color: black;

    /*Layout*/
    position: absolute;
    left: 80px;
    bottom: 20px;
    width: 110px;
    height: 60px;
    cursor: pointer;
    z-index: 3;

    border: none;
    border-radius: 2px;
}

.event-like {
    /*Text*/
    font-size: 1.5rem;

    /*Coloring*/
    background: #90ee90;
    color: black;

    /*Layout*/
    position: absolute;
    left: 210px;
    bottom: 20px;
    width: 110px;
    height: 60px;
    cursor: pointer;
    z-index: 3;

    border: none;
    border-radius: 2px;
}

.event-undo {
    /*Text*/
    font-size: 2.5rem;

    /*Coloring*/
    background: #d32f2f;
    color: black;

    /*Layout*/
    position: absolute;
    right: 15px;
    top: 20px;
    width: 60px;
    height: 50px;

    border: none;
    border-radius: 2px;
    cursor: pointer;
}
