/* Subtitles in the main sections */
main h2 {
  color: #f5f0e6;
  margin-top: 100px;
  padding-left: 35px;
  margin-left: 10px;
}
/* Spacing out the liked cards */
.liked-events-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  justify-items: center;
  padding: 40px;
}
/* Adding responsive design for the liked events cards */
@media (max-width: 768px) {
  .liked-events-grid {
    grid-template-columns: 1fr;
  }
}
