body {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  padding: 2rem;
  background: #03629c;
}

#btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

/**
 * Styling for Post Event
 */
#post-header {
  color: white;
  background-color: #9b8f8f;
  padding: 10px;
  width: 180px;
  text-align: center;
}

.form-group {
  display: grid;
  grid-template-columns: 250px 350px;
  margin-bottom: 15px;
}

.form-group label {
  color: white;
}

.form-group input::placeholder,
textarea::placeholder {
  color: black;
  font-family: "Inter", sans-serif;
}

.form-group input::file-selector-button {
  padding: 5px;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  background-color: white;
  border: none;
  box-shadow: none;
}
#submit-button {
  background-color: #6ae053;
  font-family: "Inter", san-serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

#submit-button:hover {
  background-color: #206513;
}
